.up-and-down {
  animation: up-and-down;
  animation-duration: 350ms;
  translate: 0;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes up-and-down {
  from {
    translate: 0;
  }
  to {
    translate: 0 10px;
  }
}

@keyframes slide-bg {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-1920px, 0, 0);
  }
}
