.up-and-down {
  animation: up-and-down;
  animation-duration: 350ms;
  translate: 0;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes up-and-down {
  from {
    translate: 0;
  }
  to {
    translate: 0 25px;
  }
}

@keyframes slide-bg {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-1920px, 0, 0);
  }
}

.underline-effect {
  background-image: linear-gradient(#0b5cba 0 0);
  background-size: 200% 0.3rem;
  background-position: 200% 100%;
  background-repeat: no-repeat;
  transition: background-position 0.3s;

  &:focus-within,
  &:hover {
    transition: background-position 0.3s;
    background-position: 100% 100%;
  }
}

.hover-effect {
  background-image: linear-gradient(#0b5cba 0 0);
  background-size: 200% 0.3rem;
  background-position: 200% 100%;
  background-repeat: no-repeat;
  transition: background-position 0.3s 0.3s, background-size 0.3s;

  &:focus-within,
  &:hover {
    transition: background-position 0.3s, background-size 0.3s 0.3s;
    background-size: 200% 100%;
    background-position: 100% 100%;
  }
}
