@use 'animations.scss';

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'W95FA';
  src: url('../fonts/W95FA.otf');
}
* {
  @apply box-border;
}

html {
  @apply bg-mains text-lighter overflow-x-hidden font-retro;
}

h1 {
  @apply text-7xl md:text-6xl lg:text-9xl font-bold mb-5;
}
h2 {
  @apply text-3xl md:text-4xl lg:text-6xl font-bold mb-5;
}
h3 {
  @apply text-xl md:text-2xl lg:text-4xl font-bold mb-3;
}
p {
  @apply text-xl mb-1;
}

i {
  font-style: normal;
}

//calligraphie
.text-strike {
  text-shadow: 1px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}
.text-shadow {
  text-shadow: 2px 5px 0px #4e2a33;
}

//Outils
.aspect-1x1 {
  @apply aspect-square;

  & > img {
    @apply object-cover w-full h-full;
  }
}

.border-inset {
  border-style: inset;
}

.sliding {
  &-bg {
    width: 5760px;
    background: url('img/hero-bg.png') repeat-x;
    animation: slide-bg 60s linear infinite;
  }
}

//box
.bg-ff {
  @apply bg-gradient-to-br from-boxbg to-mains;
}
