@use 'animations.scss';

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'W95FA';
  src: url('../fonts/W95FA.otf');
}
* {
  @apply box-border;
}

html {
  @apply bg-mains text-lighter overflow-x-hidden font-retro;
  counter-reset: h2;
  //overflow-y: hidden;
}

h1 {
  @apply text-8xl font-bold mb-5;
}
h2 {
  @apply flex text-4xl font-bold mb-5 items-center whitespace-nowrap lg:ml-5;
  &::before {
    counter-increment: h2;
    content: counter(h2) '.';
    margin-right: 1rem;
    color: #cb8c67;
  }
  &::after {
    content: '';
    margin-left: 1rem;
    width: 100%;
    max-width: 300px;
    height: 1px;
    background-color: #555555;
  }
}
h3 {
  @apply text-3xl  font-bold mb-3;
}
p {
  @apply text-xl mb-1;
}

i {
  font-style: normal;
}

//calligraphie
.text-strike {
  text-shadow: 1px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}
.text-shadow {
  text-shadow: 2px 5px 0px #4e2a33;
}

//Outils
.aspect-1x1 {
  @apply aspect-square;

  & > img {
    @apply object-cover w-full h-full;
  }
}

.border-inset {
  border-style: inset;
}

.sliding {
  &-bg {
    width: 5760px;
    background: url('img/hero-bg.png') repeat-x;
    animation: slide-bg 60s linear infinite;
  }
}

//box
.bg-ff {
  @apply bg-gradient-to-br from-boxbg to-mains;
}

//Composante
.button {
  background-color: rgba(78, 42, 51);
  box-shadow: 0px 0px 0px 2px #4e2a33, 0px 0px 0px 4px #fff,
    5px 5px 5px 5px #000;
  border-radius: 5px;
  border: solid rgba(142, 120, 104, 0.5) 1px;

  text-align: center;
  font-weight: bold;

  transition: translate 0.1s, box-shadow 0.1s;

  &:hover,
  &:focus-within {
    translate: -0.1rem -0.1rem;
    box-shadow: 0px 0px 0px 2px #4e2a33, 0px 0px 0px 4px #fff,
      7px 7px 5px 5px #000;
  }
  &:active {
    translate: 0.15rem 0.15rem;
    box-shadow: 0px 0px 0px 2px #4e2a33, 0px 0px 0px 4px #fff,
      7px 7px 5px 0px #000;
  }
}
